@using PdfReporting.Models
@model Invoice

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Helvetica', 'Arial', sans-serif;
            color: #333;
        }
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
        }
        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }
        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }
        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }
        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }
        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }
        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }
        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="invoice-box">
        <table>
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Invoice #: @Model.InvoiceNumber<br>
                                Created: @Model.IssueDate.ToString("MMMM d, yyyy")<br>
                                Due: @Model.DueDate.ToString("MMMM d, yyyy")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                @Model.CompanyName<br>
                                @Model.CompanyAddress
                            </td>
                            <td>
                                @Model.ClientName<br>
                                @Model.ClientAddress
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading">
                <td>Item</td>
                <td>Price</td>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr class="item">
                    <td>@item.Description</td>
                    <td>@item.Total.ToString("C")</td>
                </tr>
            }
            <tr class="total">
                <td></td>
                <td>Total: @Model.Total.ToString("C")</td>
            </tr>
        </table>
    </div>
</body>
</html>